/* variables */
:root {
    --bckg:#111111;
    --red: #cc2628;
    --blue: #0000ff;
    --corner: gainsboro;
    --idle: gray;
    --clock: #ffe33a;
}

html {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    background-color:var(--bckg);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.game-container {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.board-container {
    display: inline-block;
    align-content: center;
    width: 50%;
}

/* winner container */
div.winner-container {
    position: absolute;
    align-content: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

a.winner {
    color: yellow;
    font-size: 0px;
    font-weight: 400;
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    transition: all 1s;
  }

  a.winner.grow {
      font-size: 40px;
  }
    
  /* Fade in animation */
  /* @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  } */
  
a.winner:hover {
    color: gray;
}

a.winner:active {
    color:red;
}
/* -------------------- */

div.half {
    position: absolute;
    width: 40%;
    height: 100%;
}

div.half.red {
    right: 0%;
}

div.half.blue {
    left: 0%;
}

/* player container */
.player-container {
    position: absolute;
    align-content: center;
    width: 70%;
    height: 20%;
    left: 15%;
    right: 15%;
}

div.player-container#p1 {
    bottom: 20%;
}

div.player-container#p2 {
    top: 20%;
}

div.player-moves {
    width: fit-content;
    margin: auto;
}

p.player-moves {
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    margin: 8px;
}

p.player-moves#p1 {
    color: blue;
}

p.player-moves#p2 {
    color: red;
}

div.name-container {
    width: fit-content;
    margin: auto;
}

p.player-name {
    color: white;
    font-weight: 100;
    font-size: 50px;
    margin: auto;
    width: fit-content;
    display: inline-block;
}

.hex.marker {
    margin: 5px 20px 0px 0px;
    display: inline-block;
}

.timer {
    color: gray;
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 100;
    text-align: center;
    margin: 5px 10% 0px 10%;
    width: 80%;
    display: inline-block;
    visibility: visible;
}


/* responsive interface */
@media (max-width: 1750px)
{
    div.player-moves {
        padding: 8px;
    }
    p.player-name {
        font-size: 35px;
    }
}