
/* PLAIN HEX */
.hex.plain {
    background: var(--idle);
}

.hex.plain:before {
    border-bottom-color: var(--idle);
}

.hex.plain:after {
    border-top-color: var(--idle);
}

/* CORNER HEX */
.hex.corner {
    background: var(--corner);
}

.hex.corner:before {
    border-bottom-color: var(--corner);
}

.hex.corner:after {
    border-top-color: var(--corner);
}

/* RED HEX */
.hex.red {
    background: var(--red);
}

.hex.red:before {
    border-bottom-color: var(--red);
}

.hex.red:after {
    border-top-color: var(--red);
}

/* BLUE HEX */
.hex.blue {
    background: var(--blue);
}

.hex.blue:before {
    border-bottom-color: var(--blue);
}

.hex.blue:after {
    border-top-color: var(--blue);
}

/* BASE HEX */
.hex {
    margin-top: 17px;
    width: 52px;
    height: 30px;
    position: relative;
}

.hex:before, .hex:after {
    content:"";
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
}

.hex:before {
    top: -15px;
    border-bottom: 15px solid white;
}

.hex:after {
    bottom: -15px;
    border-top: 15px solid white;
}

.hex.inner {
    background-color: var(--bckg);
    -webkit-transform: scale(.80, .80);
    -moz-transform: scale(.80, .80);
    transform: scale(.80, .80);
    z-index:1;
}

.hex.inner:before {
    border-bottom: 15px solid var(--bckg);
}

.hex.inner:after {
    border-top: 15px solid var(--bckg);
}
